// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// // Variables
// @import 'variables';

html,
body,
#app {
    font-family: 'Nunito', sans-serif;
}

// Animations
.router-fade-enter-active,
.router-fade-leave-active {
    transition: opacity 100ms ease-in-out;
}
.router-fade-enter,
.router-fade-leave-active {
    opacity: 0;
}

// Buttons
.button {
    &:hover {
        background: fade(inherit, 50%);
    }
}
// Bulma Overrides

@import 'node_modules/bulma/bulma';
